<div class="top-bar">
        <div class="logo-and-more-block">
          <a href="https://socialwe.blog" class="brand-link">socialwe<span class="muted">.</span>b<span class="muted">log</span></a>
        </div>
        <div class="wave-button-block">
		<!-- add wave button (wave-button) -->
		<button class="tinylytics_kudos wave-button"></button>
        </div>
</div>