<div class="top-bar">
        <div class="logo-and-more-block">
          <a href="https://socialwe.blog" class="brand-link">socialwe<span class="muted">.</span>b<span class="muted">log</span></a>
        </div>
        <div class="wave-button-block">
		<!-- add wave button (wave-button) -->
		 <div class="wave-button-block">
          <a href="#" class="wave-button w-button">👋 874</a>
        </div>
        </div>
</div>
